# Add your requirements here like:
# numpy>=1.16.4
# gdal>=2.3.3
# scipy>=1.2.1
# shapely>=1.6.4
# pyproj>=1.9.6
# pytileproj>=0.0.10
#
# numpy - install via conda
# gdal - install via conda
# scipy - install via conda
# shapely - install via conda
# pyproj - install via conda

