# Add your requirements here like:
pytileproj>=0.0.15
geographiclib
#
# numpy - install via conda
# gdal - install via conda
# scipy - install via conda
# shapely - install via conda
# pyproj - install via conda

